<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content=" initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>素叶联盟-系统通知</title>
    <meta name="keywords" content="素叶联盟">
    <meta name="description" content="素叶联盟">
    
    <link rel="stylesheet" href="__PUBLIC__/home/css/base.css">
</head>
<body style="background-color: #fff">
<header></header>
<!--系统通知-->
<section id="wrap">
    <!-- 删除 -->
       <!-- <p class="none">暂无通知！</p>-->
        <div class="syestem-edit clear">
            <a href="javascript:;" id="edit">编辑</a>
        </div>
        <ul class="notice-list " style="padding-bottom: 100px">
            <li class=" notice-list-item  ub">
                    <div class="notice-img-wrap">
                        <input type="checkbox" name="delNotice" value="{$v.id}" id='{$v.time}' >
                        <label for={$v.time}></label>
                        <img src="__PUBLIC__/home/img/person_photo.png" alt="">
                    </div>
                    <div class="notice-info  ub-f1 ">
                        <div class="notice-info-head">
                            <p><span>素叶</span> <span class="fr notice-date">2016-07-17</span></p>
                        </div>
                        <a href="javascript:;">
                            <div class="notice-info-content ">
                                <p>
                                 12346465465
                                </p>
                            </div>
                        </a>
                    </div>
                </li>
            <li class=" notice-list-item  ub">
                <div class="notice-img-wrap">
                    <input type="checkbox" name="delNotice" value="{$v.id}" id='{$v.time}' >
                    <label for={$v.time}></label>
                    <img src="__PUBLIC__/home/img/person_photo.png" alt="">
                </div>
                <div class="notice-info  ub-f1 ">
                    <div class="notice-info-head">
                        <p><span>素叶</span> <span class="fr notice-date">2016-07-17</span></p>
                    </div>
                    <a href="javascript:;">
                        <div class="notice-info-content ">
                            <p>
                                12346465465
                            </p>
                        </div>
                    </a>
                </div>
            </li>
            <li class=" notice-list-item  ub">
                <div class="notice-img-wrap">
                    <input type="checkbox" name="delNotice" value="{$v.id}" id='{$v.time}' >
                    <label for={$v.time}></label>
                    <img src="__PUBLIC__/home/img/person_photo.png" alt="">
                </div>
                <div class="notice-info  ub-f1 ">
                    <div class="notice-info-head">
                        <p><span>素叶</span> <span class="fr notice-date">2016-07-17</span></p>
                    </div>
                    <a href="javascript:;">
                        <div class="notice-info-content ">
                            <p>
                                12346465465
                            </p>
                        </div>
                    </a>
                </div>
            </li>
            <li class=" notice-list-item  ub">
                <div class="notice-img-wrap">
                    <input type="checkbox" name="delNotice" value="{$v.id}" id='{$v.time}' >
                    <label for={$v.time}></label>
                    <img src="__PUBLIC__/home/img/person_photo.png" alt="">
                </div>
                <div class="notice-info  ub-f1 ">
                    <div class="notice-info-head">
                        <p><span>素叶</span> <span class="fr notice-date">2016-07-17</span></p>
                    </div>
                    <a href="javascript:;">
                        <div class="notice-info-content ">
                            <p>
                                12346465465
                            </p>
                        </div>
                    </a>
                </div>
            </li>
            <li class=" notice-list-item  ub">
                <div class="notice-img-wrap">
                    <input type="checkbox" name="delNotice" value="{$v.id}" id='{$v.time}' >
                    <label for={$v.time}></label>
                    <img src="__PUBLIC__/home/img/person_photo.png" alt="">
                </div>
                <div class="notice-info  ub-f1 ">
                    <div class="notice-info-head">
                        <p><span>素叶</span> <span class="fr notice-date">2016-07-17</span></p>
                    </div>
                    <a href="javascript:;">
                        <div class="notice-info-content ">
                            <p>
                                12346465465
                            </p>
                        </div>
                    </a>
                </div>
            </li>
            <li class=" notice-list-item  ub">
                <div class="notice-img-wrap">
                    <input type="checkbox" name="delNotice" value="{$v.id}" id='{$v.time}' >
                    <label for={$v.time}></label>
                    <img src="__PUBLIC__/home/img/person_photo.png" alt="">
                </div>
                <div class="notice-info  ub-f1 ">
                    <div class="notice-info-head">
                        <p><span>素叶</span> <span class="fr notice-date">2016-07-17</span></p>
                    </div>
                    <a href="javascript:;">
                        <div class="notice-info-content ">
                            <p>
                                12346465465
                            </p>
                        </div>
                    </a>
                </div>
            </li>
            <li class=" notice-list-item  ub">
                <div class="notice-img-wrap">
                    <input type="checkbox" name="delNotice" value="{$v.id}" id='{$v.time}' >
                    <label for={$v.time}></label>
                    <img src="__PUBLIC__/home/img/person_photo.png" alt="">
                </div>
                <div class="notice-info  ub-f1 ">
                    <div class="notice-info-head">
                        <p><span>素叶</span> <span class="fr notice-date">2016-07-17</span></p>
                    </div>
                    <a href="javascript:;">
                        <div class="notice-info-content ">
                            <p>
                                12346465465
                            </p>
                        </div>
                    </a>
                </div>
            </li>
            <li class=" notice-list-item  ub">
                <div class="notice-img-wrap">
                    <input type="checkbox" name="delNotice" value="{$v.id}" id='{$v.time}' >
                    <label for={$v.time}></label>
                    <img src="__PUBLIC__/home/img/person_photo.png" alt="">
                </div>
                <div class="notice-info  ub-f1 ">
                    <div class="notice-info-head">
                        <p><span>素叶</span> <span class="fr notice-date">2016-07-17</span></p>
                    </div>
                    <a href="javascript:;">
                        <div class="notice-info-content ">
                            <p>
                                12346465465
                            </p>
                        </div>
                    </a>
                </div>
            </li>

        </ul>
        <div class="syestem-del clear">
            <a href="javascript:;" id='selAll'>全选</a>
            <a href="javascript:;" id="del">删除</a>
        </div>
</section>
<!-- 弹出层 -->
<section>
    <div class="dig-mask" style="background-color: transparent"></div>
    <div class="dig" style="height: auto;border-radius: 5px;top: 190px;background-color: #FA5750;">
        <div class="dig-content" style="height: 40px;">
            <p class="dig-tip" style="color:#fff">提示内容</p>
            <button class="dig-btn">点击确定</button>
        </div>
    </div>
</section>
<footer class="position-fixed-b kefu clear">
    <div class="kefu-item ">
        <a href="message.html">
            <i class="kefu-icon"></i>
            <span>售前客服</span>
        </a>
    </div>
    <div class="kefu-item active">
        <a href="javascript:;">
            <i class="kefu-icon"></i>
            <span>售后客户</span>
        </a>
    </div>
</footer>


<script src="js/jquery.min.js"></script>

<script>
    //删除
    $(function() {
        var dig={};
        dig._btn=$('.dig-btn');
        dig._mask=$('.dig-mask');
        dig._close=$('.dig-close');
        dig._dig=$('.dig');
        dig.closeFn=function () {
            dig._mask.css('display','none');
            dig._dig.css('display','none');
        } ;
        dig.showFn=function () {
            dig._mask.css('display','block');
            dig._dig.css('display','block');
        } ;
        dig._close.click(dig.closeFn);
        dig._tip=$('.dig-tip');
        dig._btn.click(dig.closeFn);
        dig._mask.click(dig.closeFn);



        var edit=$('#edit');
        var checkbox=$('input[type=checkbox]');
        var syestem_del=$('.syestem-del');
        var label=$('.notice-img-wrap label');
        edit.on('click',function(){
            if($(this).hasClass('active')){
                label.css('display','none');
                syestem_del.hide();
                $(this).removeClass('active').html('编辑');
                $('.kefu').show();
                return false;
            }
            syestem_del.show();
            $('.kefu').hide();
            label.css('display','inline-block');
            $(this).addClass('active').html('取消');
        });


        $('#selAll').on('click',function(){

            if($(this).hasClass('active')){
                checkbox.click();
                $(this).removeClass('active');
                return false;
            }

            checkbox.click();
            $(this).addClass('active');
        })

        $('#del').on('click',function(){
            var arr=[];
            checkbox=$('input[type=checkbox]');
            $(checkbox).each(function(i,e){
                if(e.checked){
                    arr.push(e.value);
                    var li=this.parentNode.parentNode;
                    li.parentNode.removeChild(li);
                    $('#edit').removeClass('active').html('编辑');
                    $('.kefu').show();
                }
            });
            $.ajax({
                url:"{:U('Home/User/systemDel')}",
                data:{id:arr.join(',')},
                success:function(data){
                    if(data=="success"){
                        label.css('display','none');
                        syestem_del.hide();
                        $('#edit').removeClass('active').html('编辑');
                        dig._btn.css('display','none');
                        dig._tip.html('删除成功');
                        dig.showFn();
                        setTimeout(dig.closeFn,1000);



                        /* $(checkbox).each(function(i,e){
                         if(e.checked){
                         var li=this.parentNode.parentNode;

                         li.parentNode.removeChild(li);
                         }
                         })*/

                    }
                }

            })

        })
    });
</script>
</body>
</html>