<section>
<style type="text/css">
	h1{font-weight: bold;}
	h2{font-size:16px;font-weight: bold;}

</style>
<h1>后台管理系统操作说明：</h1>
<div>
	<h2>一、管理员权限：</h2><br/>
	<p>1、系统默认的管理员jyy为超级管理员，权限最高，不可删除</p><br/>
	<p>2、普通管理员可添加，可修改，可删除，不能管理会员模块和管理员模块</p><br/>
	<h2>二、添加数据步骤：</h2><br/>
	<p>1、第一，添加明星</p><br/>
	<p>2、第二，添加明星预告活动和福利优惠活动</p><br/>
	<p>3、第三，明星预告活动结束后可以在精彩回顾中修改活动，上传精彩图片和视频</p><br/>
	<p>4、第四，修改数据的时候，再次上传新图片，会自动替换之前的图片，即为修改了之前的图片</p><br/><br/>
	<p>注意：明星一旦添加，就不可随意删除，否则之前添加的与明星相关的活动和福利活动都将随之被删除，但可以修改</p><br/>
</div>
</section>
<script>
$(document).ready(function() {
	$('#operating_instructions').addClass('active');
});
</script>
