<!DOCTYPE html>
<html  class="ui-mobile">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
    <title>2号线桐梓林飘窗大床房15分钟到环球中心</title>
    <meta name="keywords" content="素叶联盟">
    <meta name="description" content="素叶提供短租房、日租房住宿信息，安全快捷的北京酒店式公寓、家庭旅馆、民宿等不同类型短租日租房源预订。选择素叶网，找您旅途中的家，体验高性价比、多样化、人情味的住宿。">


    <link href="__PUBLIC__/home/css/common.css" rel="stylesheet">
    <link href="__PUBLIC__/home/css/searchlist.css" rel="stylesheet">
    <link href="__PUBLIC__/home/css/details.css" rel="stylesheet">
    <link href="__PUBLIC__/home/css/jquery.mobile.custom.structure.min.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/home/css/swiper-3.3.1.min.css">
</head>