<body class="ui-mobile-viewport ui-overlay-">
<div class="fix-page-bottom ui-page ui-page-theme- ui-page-active" data-role="page" id="room" data-theme="" data-url="room" tabindex="0">
    <header header-title="房间详情" header-btn-left="over" id="firstPageHead">
        <div class="top_remind"></div>
     </header>
    <div class="detail_top clearfix">
        <div class="swiper-container swiper-container-horizontal">
            <div class="swiper-wrapper">
                <div class="swiper-slide swiper-slide-active" style="width: 500px;">
                    <img  srcbefore="img/2,0,60,1431,1800,1198,d69574ee.jpg"
                         src="__PUBLIC__/home/img/banner_01.jpg"
                         style="display: inline-block; vertical-align: middle; height: 249.523px;" static;="">
                </div>
                <div class="swiper-slide swiper-slide-next" style="width: 500px;">
                    <img  srcbefore="img/2,0,60,1431,1800,1198,d69574ee.jpg"
                         src="__PUBLIC__/home/img/banner_01.jpg"
                         style="display: inline-block; vertical-align: middle; height: 249.523px;" static;="">
                </div>
                <div class="swiper-slide" style="width: 500px;">
                    <img  srcbefore="img/2,0,60,1431,1800,1198,d69574ee.jpg"
                         src="__PUBLIC__/home/img/banner_01.jpg"
                         style="display: inline-block; vertical-align: middle; height: 249.523px;" static;="">
                </div>

            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination swiper-pagination-fraction" style="font-size: 14px;color: #fff;text-align: right;">
                <span class="swiper-pagination-current">1</span> / <span class="swiper-pagination-total">10</span>
            </div>

        </div>


    </div>
    <div class="detail_off" id="tejiaPromotion" style="width: 100%; display: none;">
        <span><em class="icon_tejia"></em>限时特价</span>
    </div>
    <div class="detail_con">

        <div class="room_infor">
            <ul class="infors_ul">
                <li>
                    <span class="icon_room_3" id="leaseTypeIcon"></span>
                    <p>
                        <em id="leaseType">独立单间</em>
                    </p>

                    <p></p>
                </li>
                <li>
                    <span class="icon_user"></span>
                    <p id="liveTips">
                     <em id="guestNum">宜住 <b>2</b> 人</em>
                    </p>
                </li>
                <li>
                    <span class="icon_bed"></span>
                    <p id="bedInfo">
                        <em id="bedNum">共 <b>1</b> 张床</em>
                    </p>
                </li>
            </ul>
        </div>
        <div class="infor_colunm" id="isHasComment">
            <p class="p_center" id="allGoodRate">
                <span class="title_16"><span id="commentCount">23</span>条点评</span>
                        <span id="isShowGoodRate"><em class="pink"><span class="font16" id="goodRate">4.9</span>/5分</em>
                        <em class="g_graystar1"><i class="g_yellowstar1" style="width: 100%;"></i></em>
                        <em class="g_graystar1"><i class="g_yellowstar1" style="width: 100%;"></i></em>
                        <em class="g_graystar1"><i class="g_yellowstar1" style="width: 100%;"></i></em>
                        <em class="g_graystar1"><i class="g_yellowstar1" style="width: 100%;"></i></em>
                        <em class="g_graystar1"><i class="g_yellowstar1" style="width: 90%;"></i></em>
                        </span>
                <span class="title_16 font14 marginT15"><span id="authorName">天堂诗</span> <span id="checkinday">2016年05月</span>入住</span>
            </p>
            <p class="p_left" id="commentContent">房东妹妹非常耐心, 我不小心反锁了门，害得她找很久，一点都没怪我。
                房间阳光，卫生各方面都很好。</p>
            <p class="p_center"><a class="btn_detail icon_file" href="quarter_rated_list.html" id="checkAllComment">查看全部点评</a></p>
        </div>
        <div class="infor_colunm" >
                <div id="showmap" style="height: 0;width: 0;"></div>
                <p class="map_p"  style="margin-left: 107.5px;">成都市2号线桐梓林</p>
        </div>
        <div class="infor_colunm">
            <p class="p_center">
                <span class="title_16">房间描述</span>
            </p>
            <p class="p_left" id="serviceIntro2">
                自住的房子，很新，拿出次卧上来玩玩。
                ※特别注意：我有一条智商NO.1的预赛级边境牧羊犬，性格友善，人畜无害，如果你不喜欢预定前请跟我确认狗狗是不是在家。
            <p class="p_center">
                 <a class="btn_detail icon_paper"  href="{:U('House/quarter_desc_detail')}" id="checkAllDescription">查看全部描述</a>
            </p>
        </div>
        <div class="imageContainer firstImage" style="height: 187.5px;">
            <img id="firstImage" class="room_pic xzlazyload" src="//image.xiaozhustatic2.com/11/2,0,93,1343,1800,1198,adcc2add.jpg" style="margin-top: -39.5px;" xzsrc="ok" replacesrc="__PUBLIC__/home/img/lazy_image.png">
        </div>
        <div class="infor_colunm nobor">
            <p class="p_center">
                <span class="title_16">房间详情</span>
            </p>
            <ul class="ul_colunm">
                <li id="price" tips="0"><span>每晚价格</span><a class="fr color_333">168</a></li>
                <li id="addTenant" tips="0"><span>是否允许加客</span><a class="fr pink">不允许</a></li>
                <li><span id="cashplege">线上收取押金</span><a class="fr color_333" id="cashplegeA">500</a></li>
                <li id="wcLi">卫生间<span class="fr color_333" id="toilet">共用卫生间</span></li>
                <li>最少入住天数<span class="fr color_333" id="minDays">1</span></li>
                <li>最多入住天数<span class="fr color_333" id="maxDays">30</span></li>
                <li class="nobor">是否接待境外人士<span class="fr color_333" id="foreigner">接待</span></li>
            </ul>
        </div>
        <div class="imageContainer secondImage" style="height: 187.5px;">
            <img id="secondImage" class="room_pic xzlazyload" src="//image.xiaozhustatic3.com/11/2,0,93,1344,1800,1198,f1729a01.jpg" style="margin-top: -39.5px;" xzsrc="ok" replacesrc="__PUBLIC__/home/img/lazy_image.png">
        </div>

        <div class="w_borgray"></div>
        <div class="infor_colunm nobor" id="tuidingPart">
            <div class="fund_box">
                <h4 class="g_tuikuan">退订规则</h4>
                <div class="gg_box clearfix">
                    <div class="refundL"><img src="__PUBLIC__/home/img/jindutiao.png" width="12" height="270" alt=""></div>
                    <div class="refundR">
                        <div class="g_smallbox">
                            <span class="g_infor"></span>
                            <p class="g_message f_14">如取消订单，订金全部退还</p>
                            <i class="g_icon"></i>
                        </div>
                        <div class="g_smallbox marginT30">
                            <span class="g_infor">入住前<span class="cancelPayAllDay">3</span>天 14:00</span>
                            <p class="g_message f_14">如取消订单，扣除头<span class="cancelPunishDay">1</span>天的订金</p>
                            <i class="g_icon"></i>
                        </div>
                        <div class="g_smallbox marginT30">
                            入住当天 14:00
                            <p class="g_message f_14">如提前退房，扣除未消费的头<span class="cancelPunishDay">1</span>天订金</p>
                            <i class="g_icon"></i>
                        </div>
                        <div class="g_smallbox marginT30">
                            退房当天 12:00
                        </div>
                    </div>
                </div>
                <p class="g_bot color_333">该规则由房东制定<br><span id="tejia_tuiding" style="display: none;">特价订单不可取消，不可使用部分代金券</span></p>
            </div>
        </div>

    </div>

    <a class="order_btn" style="position: fixed" id="bookNow">
        <em class="icon_triLine"></em>立刻预订
    </a>






</div>


<script src="__PUBLIC__/home/js/swiper-3.3.1.min.js"></script>
<script>
    var swiper = new Swiper('.swiper-container', {
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        pagination: '.swiper-pagination',
        paginationType: 'fraction'
    });
</script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=5wzKed6iTctwZW1glFrvrIpM"></script>
<script>

   var showmap= document.getElementById('showmap');
   var wh=document.body.offsetWidth;

   showmap.style.width=wh+'px';
   showmap.style.height=wh-100+'px';
    var map = new BMap.Map("showmap");

    var point = new BMap.Point(116.331398,39.897445);
    map.centerAndZoom(point,12);
    // 创建地址解析器实例
    var myGeo = new BMap.Geocoder();
    // 将地址解析结果显示在地图上,并调整地图视野
    myGeo.getPoint("成都市桐梓林", function(point){
        if (point) {
            map.centerAndZoom(point, 18);
            map.addOverlay(new BMap.Marker(point));
        }else{
            alert("您选择地址没有解析到结果!");
        }
    }, "成都");






</script>
</body>
</html>