<body class="ui-mobile-viewport ui-overlay-">
<div class="fix-page-bottom ui-page ui-page-theme- ui-page-active" data-role="page" id="room" data-theme="" data-url="room" tabindex="0">
    <header header-title="房间详情" header-btn-left="over" id="firstPageHead">
        <div class="top_remind"></div>
    </header>

    <div class="detail_con">


        <div class="infor_colunm" >
            <p class="p_center">

                        <span ><em class="pink"><span class="font16" >4.9</span>/5分</em>
                        <em class="g_graystar1"><i class="g_yellowstar1" style="width: 100%;"></i></em>
                        <em class="g_graystar1"><i class="g_yellowstar1" style="width: 100%;"></i></em>
                        <em class="g_graystar1"><i class="g_yellowstar1" style="width: 100%;"></i></em>
                        <em class="g_graystar1"><i class="g_yellowstar1" style="width: 100%;"></i></em>
                        <em class="g_graystar1"><i class="g_yellowstar1" style="width: 90%;"></i></em>
                        </span>
                <span class="title_16 font14 marginT15"><span >天堂诗</span> <span >2016年05月</span>入住</span>
            </p>
            <p class="p_left" >房东妹妹非常耐心, 我不小心反锁了门，害得她找很久，一点都没怪我。
                房间阳光，卫生各方面都很好。</p>
            <p class="p_center"></p>
        </div>

        <div class="infor_colunm" >
            <p class="p_center">

                        <span ><em class="pink"><span class="font16" >4.9</span>/5分</em>
                        <em class="g_graystar1"><i class="g_yellowstar1" style="width: 100%;"></i></em>
                        <em class="g_graystar1"><i class="g_yellowstar1" style="width: 100%;"></i></em>
                        <em class="g_graystar1"><i class="g_yellowstar1" style="width: 100%;"></i></em>
                        <em class="g_graystar1"><i class="g_yellowstar1" style="width: 100%;"></i></em>
                        <em class="g_graystar1"><i class="g_yellowstar1" style="width: 90%;"></i></em>
                        </span>
                <span class="title_16 font14 marginT15"><span >天堂诗</span> <span >2016年05月</span>入住</span>
            </p>
            <p class="p_left" >房东妹妹非常耐心, 我不小心反锁了门，害得她找很久，一点都没怪我。
                房间阳光，卫生各方面都很好。</p>
            <p class="p_center"></p>
        </div>
        <div class="infor_colunm" >
            <p class="p_center">

                        <span ><em class="pink"><span class="font16" >4.9</span>/5分</em>
                        <em class="g_graystar1"><i class="g_yellowstar1" style="width: 100%;"></i></em>
                        <em class="g_graystar1"><i class="g_yellowstar1" style="width: 100%;"></i></em>
                        <em class="g_graystar1"><i class="g_yellowstar1" style="width: 100%;"></i></em>
                        <em class="g_graystar1"><i class="g_yellowstar1" style="width: 100%;"></i></em>
                        <em class="g_graystar1"><i class="g_yellowstar1" style="width: 90%;"></i></em>
                        </span>
                <span class="title_16 font14 marginT15"><span >天堂诗</span> <span >2016年05月</span>入住</span>
            </p>
            <p class="p_left" >房东妹妹非常耐心, 我不小心反锁了门，害得她找很久，一点都没怪我。
                房间阳光，卫生各方面都很好。</p>
            <p class="p_center"></p>
        </div>
        <div class="infor_colunm" >
            <p class="p_center">

                        <span ><em class="pink"><span class="font16" >4.9</span>/5分</em>
                        <em class="g_graystar1"><i class="g_yellowstar1" style="width: 100%;"></i></em>
                        <em class="g_graystar1"><i class="g_yellowstar1" style="width: 100%;"></i></em>
                        <em class="g_graystar1"><i class="g_yellowstar1" style="width: 100%;"></i></em>
                        <em class="g_graystar1"><i class="g_yellowstar1" style="width: 100%;"></i></em>
                        <em class="g_graystar1"><i class="g_yellowstar1" style="width: 90%;"></i></em>
                        </span>
                <span class="title_16 font14 marginT15"><span >天堂诗</span> <span >2016年05月</span>入住</span>
            </p>
            <p class="p_left" >房东妹妹非常耐心, 我不小心反锁了门，害得她找很久，一点都没怪我。
                房间阳光，卫生各方面都很好。</p>
            <p class="p_center"></p>
        </div>
        <div class="infor_colunm" >
            <p class="p_center">

                        <span ><em class="pink"><span class="font16" >4.9</span>/5分</em>
                        <em class="g_graystar1"><i class="g_yellowstar1" style="width: 100%;"></i></em>
                        <em class="g_graystar1"><i class="g_yellowstar1" style="width: 100%;"></i></em>
                        <em class="g_graystar1"><i class="g_yellowstar1" style="width: 100%;"></i></em>
                        <em class="g_graystar1"><i class="g_yellowstar1" style="width: 100%;"></i></em>
                        <em class="g_graystar1"><i class="g_yellowstar1" style="width: 90%;"></i></em>
                        </span>
                <span class="title_16 font14 marginT15"><span >天堂诗</span> <span >2016年05月</span>入住</span>
            </p>
            <p class="p_left" >房东妹妹非常耐心, 我不小心反锁了门，害得她找很久，一点都没怪我。
                房间阳光，卫生各方面都很好。</p>
            <p class="p_center"></p>
        </div>


    </div>

    <a class="order_btn" style="position: fixed" id="bookNow">
        <em class="icon_triLine"></em>立刻预订
    </a>






</div>


<script src="js/swiper-3.3.1.min.js"></script>
<script>

    var swiper = new Swiper('.swiper-container', {
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        pagination: '.swiper-pagination',
        paginationType: 'fraction'
    });

</script>
</body>
</html>