<body>
<header>
    <!--搜索-->
    <div class="search-wrap bg-main">
        <a href="quarter_search.html">
            <i class="wh-ser-icon"></i>
            <span>搜索住宿</span>
        </a>
    </div>
    <!--相册展示-->
    <div class="swiper-container swiper-container-horizontal  quarter">
        <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
            <div class="swiper-slide" >
                <img src="__PUBLIC__/home/img/quater.png" alt="素叶联盟住宿">
            </div>
            <div class="swiper-slide" >
                <img src="__PUBLIC__/home/img/quater.png" alt="素叶联盟住宿">
            </div>
            <div class="swiper-slide" >
                <img src="__PUBLIC__/home/img/quater.png" alt="素叶联盟住宿">
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">

            <span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div>
    </div>
</header>

<!--热门推荐-->
<section class="serve-wrap">
   <div class="title-hd">
       <i class="title-icon"></i>
       <span class="color-main title-intro">
           热门推荐
       </span>
   </div>
   <ul class="serve-list pad-80">
       <a href="faxian_detail.html">
       <li class="serve-item ub">
            <div class="serve-item-img">
                <img src="__PUBLIC__/home/img/server_item_img.png" alt="素叶联盟住宿热门推荐">
            </div>
           <div class="serve-item-info ub-f1">
                <div class="serve-item-hd">
                     <p class="serve-item-name">布林顿酒店</p>
                     <p class="serve-item-addr">双流县中和镇中和大道1号</p>
                </div>
                <div class="serve-item-bot">
                    <div class="fl color-main">
                          <i class="price-icon"></i>
                          <span class="font-size20 price">168</span>
                          <span class="serve-item-time">/ 晚</span>
                    </div>
                    <div class="fr">
                        <span >已售190</span>
                    </div>
                </div>
           </div>
       </li>
       </a>
       <li class="serve-item ub">
           <div class="serve-item-img">
               <img src="__PUBLIC__/home/img/server_item_img.png" alt="素叶联盟住宿热门推荐">
           </div>
           <div class="serve-item-info ub-f1">
               <div class="serve-item-hd">
                   <p class="serve-item-name">布林顿酒店</p>
                   <p class="serve-item-addr">双流县中和镇中和大道1号</p>
               </div>
               <div class="serve-item-bot">
                   <div class="fl color-main">
                       <i class="price-icon"></i>
                       <span class="font-size20 price">168</span>
                       <span class="serve-item-time">/ 晚</span>
                   </div>
                   <div class="fr">
                       <span >已售190</span>
                   </div>
               </div>
           </div>
       </li>
       <li class="serve-item ub">
           <div class="serve-item-img">
               <img src="__PUBLIC__/home/img/server_item_img.png" alt="素叶联盟住宿热门推荐">
           </div>
           <div class="serve-item-info ub-f1">
               <div class="serve-item-hd">
                   <p class="serve-item-name">布林顿酒店</p>
                   <p class="serve-item-addr">双流县中和镇中和大道1号</p>
               </div>
               <div class="serve-item-bot">
                   <div class="fl color-main">
                       <i class="price-icon"></i>
                       <span class="font-size20 price">168</span>
                       <span class="serve-item-time">/ 晚</span>
                   </div>
                   <div class="fr">
                       <span >已售190</span>
                   </div>
               </div>
           </div>
       </li>
   </ul>
</section>


<footer class="position-fixed-b foot clear">
    <div class="foot-item active">
        <a href="javascript:;">
        <i class="faxian-icon"></i>
         <span>发现</span>
        </a>
    </div>
    <div class="foot-item">
        <a href="{:U('Msg/message')}">
            <i class="mes-icon"></i>
            <span>消息</span>
        </a>
    </div>
    <div class="foot-item">
        <a href="{:U('House/quarter_search')}">
        <i class="ser-icon"></i>
            <span>搜索</span>
        </a>
    </div>
    <div class="foot-item">
        <a href="{:U('Order/user_order_list')}">
            <i class="order-icon"></i>
            <span>订单</span>
        </a>
    </div>

</footer>

<script src="__PUBLIC__/home/js/base.js"></script>
<script src="__PUBLIC__/home/js/swiper-3.3.1.min.js"></script>
<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true
    });


var str = '';

str += '<li class="serve-item ub">';
           <div class="serve-item-img">
               <img src="__PUBLIC__/home/img/server_item_img.png" alt="素叶联盟住宿热门推荐">
           </div>
           <div class="serve-item-info ub-f1">
               <div class="serve-item-hd">
                   <p class="serve-item-name">布林顿酒店</p>
                   <p class="serve-item-addr">双流县中和镇中和大道1号</p>
               </div>
               <div class="serve-item-bot">
                   <div class="fl color-main">
                       <i class="price-icon"></i>
                       <span class="font-size20 price">168</span>
                       <span class="serve-item-time">/ 晚</span>
                   </div>
                   <div class="fr">
                       <span >已售190</span>
                   </div></div></div></li>';





</script>
</body>
</html>