<body class="ui-mobile-viewport ui-overlay-">
<div class="fix-page-bottom ui-page ui-page-theme- ui-page-active" data-role="page" id="room" data-theme="" data-url="room" tabindex="0">
    <header header-title="房间详情" header-btn-left="over" id="firstPageHead">
        <div class="top_remind"></div>
    </header>

    <div class="detail_con">



        <div class="infor_colunm">
            <p class="p_center">
                <span class="title_16">房间描述</span>
            </p>
            <p class="p_left" id="serviceIntro2">
                自住的房子，很新，拿出次卧上来玩玩。
                ※特别注意：我有一条智商NO.1的预赛级边境牧羊犬，性格友善，人畜无害，如果你不喜欢预定前请跟我确认狗狗是不是在家。
            <p class="p_center">

            </p>
        </div>
        <div class="imageContainer firstImage" style="height: 187.5px;">
            <img id="firstImage" class="room_pic xzlazyload" src="//image.xiaozhustatic2.com/11/2,0,93,1343,1800,1198,adcc2add.jpg" style="margin-top: -39.5px;" xzsrc="ok" replacesrc="img/lazy_image.png">
        </div>

    </div>

    <a class="order_btn" style="position: fixed" id="bookNow">
        <em class="icon_triLine"></em>立刻预订
    </a>






</div>


<script src="__PUBLIC__/home/js/swiper-3.3.1.min.js"></script>
<script>

    var swiper = new Swiper('.swiper-container', {
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        pagination: '.swiper-pagination',
        paginationType: 'fraction'
    });

</script>
</body>
</html>