<body>
<header>
    <!--搜索-->
    <div class="search-inp-wrap">
        <form action="#">
             <i class="gray_ser"></i>
            <input type="text" class="search-inp" placeholder="搜索理想中的住宿服务">
        </form>
    </div>
</header>

<!--热门推荐-->
<section class="serve-wrap" style="margin-top: 45px">
    <ul class="serve-list pad-80">
        <li class="serve-item ub">
            <div class="serve-item-img">
                <img src="__PUBLIC__/home/img/server_item_img.png" alt="素叶联盟住宿热门推荐">
            </div>
            <div class="serve-item-info ub-f1">
                <div class="serve-item-hd">
                    <p class="serve-item-name">布林顿酒店</p>
                    <p class="serve-item-addr">双流县中和镇中和大道1号</p>
                </div>
                <div class="serve-item-bot">
                    <div class="fl color-main">
                        <i class="price-icon"></i>
                        <span class="font-size20 price">168</span>
                        <span class="serve-item-time">/ 晚</span>
                    </div>
                    <div class="fr">
                        <span >已售190</span>
                    </div>
                </div>
            </div>
        </li>
        <!-- <li class="serve-item ub">
            <div class="serve-item-img">
                <img src="__PUBLIC__/home/img/server_item_img.png" alt="素叶联盟住宿热门推荐">
            </div>
            <div class="serve-item-info ub-f1">
                <div class="serve-item-hd">
                    <p class="serve-item-name">布林顿酒店</p>
                    <p class="serve-item-addr">双流县中和镇中和大道1号</p>
                </div>
                <div class="serve-item-bot">
                    <div class="fl color-main">
                        <i class="price-icon"></i>
                        <span class="font-size20 price">168</span>
                        <span class="serve-item-time">/ 晚</span>
                    </div>
                    <div class="fr">
                        <span >已售190</span>
                    </div>
                </div>
            </div>
        </li>
        <li class="serve-item ub">
            <div class="serve-item-img">
                <img src="__PUBLIC__/home/img/server_item_img.png" alt="素叶联盟住宿热门推荐">
            </div>
            <div class="serve-item-info ub-f1">
                <div class="serve-item-hd">
                    <p class="serve-item-name">布林顿酒店</p>
                    <p class="serve-item-addr">双流县中和镇中和大道1号</p>
                </div>
                <div class="serve-item-bot">
                    <div class="fl color-main">
                        <i class="price-icon"></i>
                        <span class="font-size20 price">168</span>
                        <span class="serve-item-time">/ 晚</span>
                    </div>
                    <div class="fr">
                        <span >已售190</span>
                    </div>
                </div>
            </div>
        </li>
        <li class="serve-item ub">
            <div class="serve-item-img">
                <img src="__PUBLIC__/home/img/server_item_img.png" alt="素叶联盟住宿热门推荐">
            </div>
            <div class="serve-item-info ub-f1">
                <div class="serve-item-hd">
                    <p class="serve-item-name">布林顿酒店</p>
                    <p class="serve-item-addr">双流县中和镇中和大道1号</p>
                </div>
                <div class="serve-item-bot">
                    <div class="fl color-main">
                        <i class="price-icon"></i>
                        <span class="font-size20 price">168</span>
                        <span class="serve-item-time">/ 晚</span>
                    </div>
                    <div class="fr">
                        <span >已售190</span>
                    </div>
                </div>
            </div>
        </li>
        <li class="serve-item ub">
            <div class="serve-item-img">
                <img src="__PUBLIC__/home/img/server_item_img.png" alt="素叶联盟住宿热门推荐">
            </div>
            <div class="serve-item-info ub-f1">
                <div class="serve-item-hd">
                    <p class="serve-item-name">布林顿酒店</p>
                    <p class="serve-item-addr">双流县中和镇中和大道1号</p>
                </div>
                <div class="serve-item-bot">
                    <div class="fl color-main">
                        <i class="price-icon"></i>
                        <span class="font-size20 price">168</span>
                        <span class="serve-item-time">/ 晚</span>
                    </div>
                    <div class="fr">
                        <span >已售190</span>
                    </div>
                </div>
            </div>
        </li>
        <li class="serve-item ub">
            <div class="serve-item-img">
                <img src="__PUBLIC__/home/img/server_item_img.png" alt="素叶联盟住宿热门推荐">
            </div>
            <div class="serve-item-info ub-f1">
                <div class="serve-item-hd">
                    <p class="serve-item-name">布林顿酒店</p>
                    <p class="serve-item-addr">双流县中和镇中和大道1号</p>
                </div>
                <div class="serve-item-bot">
                    <div class="fl color-main">
                        <i class="price-icon"></i>
                        <span class="font-size20 price">168</span>
                        <span class="serve-item-time">/ 晚</span>
                    </div>
                    <div class="fr">
                        <span >已售190</span>
                    </div>
                </div>
            </div>
        </li>
        <li class="serve-item ub">
            <div class="serve-item-img">
                <img src="__PUBLIC__/home/img/server_item_img.png" alt="素叶联盟住宿热门推荐">
            </div>
            <div class="serve-item-info ub-f1">
                <div class="serve-item-hd">
                    <p class="serve-item-name">布林顿酒店</p>
                    <p class="serve-item-addr">双流县中和镇中和大道1号</p>
                </div>
                <div class="serve-item-bot">
                    <div class="fl color-main">
                        <i class="price-icon"></i>
                        <span class="font-size20 price">168</span>
                        <span class="serve-item-time">/ 晚</span>
                    </div>
                    <div class="fr">
                        <span >已售190</span>
                    </div>
                </div>
            </div>
        </li>
        <li class="serve-item ub">
            <div class="serve-item-img">
                <img src="__PUBLIC__/home/img/server_item_img.png" alt="素叶联盟住宿热门推荐">
            </div>
            <div class="serve-item-info ub-f1">
                <div class="serve-item-hd">
                    <p class="serve-item-name">布林顿酒店</p>
                    <p class="serve-item-addr">双流县中和镇中和大道1号</p>
                </div>
                <div class="serve-item-bot">
                    <div class="fl color-main">
                        <i class="price-icon"></i>
                        <span class="font-size20 price">168</span>
                        <span class="serve-item-time">/ 晚</span>
                    </div>
                    <div class="fr">
                        <span >已售190</span>
                    </div>
                </div>
            </div>
        </li> -->
        <div class="main" >
            <div class="loading">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </ul>
</section>


<footer class="position-fixed-b foot clear">
    <div class="foot-item ">
        <a href="{:U('House/quarter')}">
            <i class="faxian-icon"></i>
            <span>发现</span>
        </a>
    </div>
    <div class="foot-item">
        <a href="{:U('Msg/message')}">
            <i class="mes-icon"></i>
            <span>消息</span>
        </a>
    </div>
    <div class="foot-item active">
        <a href="{:U('House/quarter_search')}">
            <i class="ser-icon"></i>
            <span>搜索</span>
        </a>
    </div>
    <div class="foot-item">
        <a href="{:U('Order/user_order_list')}">
            <i class="order-icon"></i>
            <span>订单</span>
        </a>
    </div>

</footer>


<script>
  window.onload=function () {

      var get={
          getID:function (id) {
              return document.getElementById(id);
          },
          getClass:function (cls) {
              return document.getElementsByClassName(cls);
          }
      };

      function AjaxClass() {
          var XmlHttp = false;
          try
          {
              XmlHttp = new XMLHttpRequest();        //FireFox专有
          }
          catch(e)
          {
              try
              {
                  XmlHttp = new ActiveXObject("MSXML2.XMLHTTP");
              }
              catch(e2)
              {
                  try
                  {
                      XmlHttp = new ActiveXObject("Microsoft.XMLHTTP");
                  }
                  catch(e3)
                  {
                      alert("你的浏览器不支持XMLHTTP对象，请升级到IE6以上版本！");
                      XmlHttp = false;
                  }
              }
          }

          var me = this;
          this.Method = "POST";
          this.Url = "";
          this.Async = true;
          this.Arg = "";
          this.CallBack = function(){};
          this.Loading = function(){};

          this.Send = function()
          {
              if (this.Url=="")
              {
                  return false;
              }
              if (!XmlHttp)
              {
                  return IframePost();
              }

              XmlHttp.open (this.Method, this.Url, this.Async);
              if (this.Method=="POST")
              {
                  XmlHttp.setRequestHeader("Content-Type","application/x-www-form-urlencoded");
              }
              XmlHttp.onreadystatechange = function()
              {
                  if (XmlHttp.readyState==4)
                  {
                      var Result = false;
                      if (XmlHttp.status==200)
                      {
                          Result = XmlHttp.responseText;
                      }
                      XmlHttp = null;

                      me.CallBack(Result);
                  }
                  else
                  {
                      me.Loading();
                  }
              }
              if (this.Method=="POST")
              {
                  XmlHttp.send(this.Arg);
              }
              else
              {
                  XmlHttp.send(null);
              }
          };

          //Iframe方式提交
          function IframePost()
          {
              var Num = 0;
              var obj = document.createElement("iframe");
              obj.attachEvent("onload",function(){ me.CallBack(obj.contentWindow.document.body.innerHTML); obj.removeNode() });
              obj.attachEvent("onreadystatechange",function(){ if (Num>=5) {alert(false);obj.removeNode()} });
              obj.src = me.Url;
              obj.style.display = 'none';
              document.body.appendChild(obj);
          }
      }



      var gray_ser=get.getClass('gray_ser')[0];

      var search_inp=get.getClass('search-inp')[0];






      gray_ser.onclick=function () {
          alert(12)
      };




      var _load=get.getClass('main')[0];
      _load.parentNode.removeChild(_load);
      var serve_list=get.getClass('serve-list')[0];
      window.onscroll = function(){
          var t = document.documentElement.scrollTop || document.body.scrollTop;
          var sh=document.documentElement.clientHeight;
          var wh=document.body.offsetHeight;
          if(wh-sh<t){
              serve_list.appendChild(_load);
              _load.style.display='block';
            //  doAjax();
          }
      };


      function CreateNode(obj) {
          var newNode = document.createElement("div");
          newNode.innerHTML ='<li class="serve-item ub">'+
                  '<div class="serve-item-img">'+
                  '<img src="'+obj.imgSrc+'" alt="素叶联盟生活服务租车">'+
                  '</div>'+
                  '<div class="serve-item-info ub-f1">'+
                  '<div class="serve-item-hd">'+
                  '<p class="serve-item-name">'+obj.name+'</p>'+
                  '<p class="serve-item-addr">'+obj.addr+'</p>'+
                  '</div>'+
                  '<div class="serve-item-bot">'+
                  '<div class="fl color-main">'+
                  '<i class="price-icon"></i>'+
                  '<span class="font-size20 price">'+obj.price+'</span>'+
                  '<span class="serve-item-time">/ 晚</span>'+
                  '</div>'+
                  '<div class="fr">'+
                  '<span >已售'+obj.sell+'</span>'+
                  '</div>'+
                  '</div>'+
                  '</div>'+
                  '</li>';

          return newNode;

      }

      function doAjax(){
          var arr=[
              {'name':'五菱宏光','addr':'双流县中和镇中和大道1号','price':'168','imgSrc':'img/car_red.png','sell':'180'}
          ];

          var newNode=CreateNode(arr[0]);
          setTimeout(function () {
              serve_list.appendChild(newNode);
              _load.parentNode.removeChild(_load);
          },2000);
      }



  }
</script>
</body>
</html>