<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>生活</title>
    <meta name="keywords" content="素叶联盟">
    <meta name="description" content="素叶联盟">
    <link rel="stylesheet" href="__PUBLIC__/home/css/base.css">
</head>
<body>
<!--banner-->
<header>
    <div class="banner-wrap">
        <img src="__PUBLIC__/home/img/life_banner_02.png" alt="素叶联盟生活服务">
    </div>
</header>
<!--生活服务分类-->
<div class="life-class">
    <div class="title-hd">
        <img src="__PUBLIC__/home/img/title.png" alt="">
    </div>
    <div class="life-class-item-wrap clear">
        <a href="{:U('Sifu/serve_apply')}">
            <div class="life-class-item">
                <i class="xshs"></i>
                <span>修锁换锁</span>
            </div>
        </a>
        <a href="{:U('Sifu/serve_apply')}">
        <div class="life-class-item">
            <i class="bjfw"></i>
            <span>搬家服务</span>
        </div>
        </a>
       <a href="{:U('Sifu/serve_apply')}">
        <div class="life-class-item">
            <i class="gdst"></i>
            <span>管道疏通</span>
        </div>
         </a>
        <a href="{:U('Sifu/serve_apply')}">
        <div class="life-class-item">
            <i class="jdwx"></i>
            <span>家电维修</span>
        </div>
         </a>
        <a href="{:U('Sifu/zhuce_list')}">
        <div class="life-class-item">
            <i class="zcfw"></i>
            <span>租车服务</span>
        </div>
        </a>
        <a href="{:U('Sifu/serve_apply')}">
        <div class="life-class-item">
            <i class="tcxc"></i>
            <span>拖车修车</span>
        </div>
         </a>
         <a href="{:U('Sifu/serve_apply')}">
        <div class="life-class-item">
            <i class="jzfw"></i>
            <span>家政服务</span>
        </div>
         </a>
    </div>
</div>

<footer class="position-fixed-b foot life-class-foot clear">
    <div class="foot-item active">
        <a href="javascript:;">
            <i class="faxian-icon"></i>
            <span>发现</span>
        </a>
    </div>
    <div class="foot-item">
        <a href="{:U('Msg/message')}">
            <i class="mes-icon"></i>
            <span>消息</span>
        </a>
    </div>
    <div class="foot-item">
        <a href="{:U('Order/user_order_list_end')}">
            <i class="order-icon"></i>
            <span>订单</span>
        </a>
    </div>

</footer>

</body>
</html>