<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>接单</title>
    <meta name="keywords" content="素叶联盟">
    <meta name="description" content="素叶联盟">
    <link rel="stylesheet" href="__PUBLIC__/home/css/swiper-3.3.1.min.css">
    <link rel="stylesheet" href="__PUBLIC__/home/css/base.css">
</head>
<body>
<!--订单等待中-->
<!--信息-->
<header>
    <div class="order-info">
        <div class="order-info-item user">
            <img src="__PUBLIC__/home/img/person_photo.png" alt="">
            <span>Kaiser</span>
        </div>
        <div class="order-info-item">
            <div class="order-info-btn-wrap clear">
                <div class="order-info-btn">
                    <i class="addr-icon"></i>
                    <span class="ti15">查看地址</span>
                </div>
                <div class="order-info-btn">
                    <a href="tel:13618044836">
                    <i class="call-icon"></i>
                    <span class="ti15">呼叫对方</span>
                    </a>
                </div>
                <div class="order-info-btn bg-main" >
                    <span style="color: #fff">电脑维修</span>
                </div>
            </div>
        </div>
        <div class="order-info-item">
            <i class="order-info-icon time"></i>
            <span>2016-08-05   12:47发布服务</span>
        </div>
        <div class="order-info-item ">
            <i class="order-info-icon des"></i>
            <span>电脑突然坏了，昨天还好好的。</span>
        </div>
        <div class="order-info-item clear">
            <i class="order-info-icon num"></i>
            <span>133-5656-1212(Cecilia)</span>
            <span class="price fr">
               <i> 11130.00</i>（定金）
            </span>
        </div>
        <div class="order-info-item desimg">
            <img src="__PUBLIC__/home/img/list_icon_03.png" alt="" id="showImg">
        </div>
    </div>
</header>
<footer class=""style="margin-bottom: 25px">
    <a href="javascript:;">
        <button class="btn-main">确认接单</button>
    </a>
</footer>
<script>

</script>
</body>
</html>