<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>租车一级</title>
    <meta name="keywords" content="素叶联盟">
    <meta name="description" content="素叶联盟">
    <link rel="stylesheet" href="__PUBLIC__/home/css/swiper-3.3.1.min.css">
    <link rel="stylesheet" href="__PUBLIC__/home/css/base.css">
</head>
<body style="background-color: #f5f5f5">
<header >
    <ul class="nav clear">
        <li class="nav-item">
            <div class="nav-item-mask"></div>
            <p class="show-sel">全成都</p>
            <ul class="nav-item-list">
               <li>
                   <input type="radio" name="area" id="areaall" checked value="">
                   <label for="areaall">全成都</label>
               </li>
               <li>
                   <input type="radio" name="area" id="wh" value="武侯区">
                   <label for="wh">武侯区</label>
               </li>
           </ul>
        </li>
        <li class="nav-item">
            <div class="nav-item-mask"></div>
            <p class="show-sel">全类型</p>
            <ul class="nav-item-list">
                <li>
                    <input type="radio" name="type" id="carType" checked value="">
                    <label for="carType">全类型</label>
                </li>
                <li>
                    <input type="radio" name="type" id="car_pc" value="跑车">
                    <label for="car_pc">跑车</label>
                </li>
                <li>
                    <input type="radio" name="type" id="car_yy" value="越野">
                    <label for="car_yy">越野</label>
                </li>
                <li>
                    <input type="radio" name="type" id="car_sw" value="商务">
                    <label for="car_sw">商务</label>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <div class="nav-item-mask"></div>
            <p class="show-sel">价格不限</p>
            <ul class="nav-item-list">
                <li>
                    <input type="radio" name="price" id="price" checked value="">
                    <label for="price">价格不限</label>
                </li>
                <li>
                    <input type="radio" name="price" id="100-200" value="100-200">
                    <label for="100-200">100-200</label>
                </li>
            </ul>
        </li>
    </ul>
</header>
<section class="serve-wrap  mt35">
    <ul class="serve-list pad-20">
        <li class="serve-item ub">
            <div class="serve-item-img">
                <img src="__PUBLIC__/home/img/car.png" alt="素叶联盟生活服务租车">
            </div>
            <div class="serve-item-info ub-f1">
                <div class="serve-item-hd">
                    <p class="serve-item-name">别克凯越</p>
                    <p class="serve-item-addr">双流县中和镇中和大道1号</p>
                </div>
                <div class="serve-item-bot">
                    <div class="fl color-main">
                        <i class="price-icon"></i>
                        <span class="font-size20 price">168</span>
                        <span class="serve-item-time">/ 日均</span>
                    </div>
                    <div class="fr">
                        <a href="javascript:;">
                            <i class="phone_icon"></i>
                        </a>
                    </div>
                </div>
            </div>
        </li>
        <li class="serve-item ub">
            <div class="serve-item-img">
                <img src="__PUBLIC__/home/img/car.png" alt="素叶联盟生活服务租车">
            </div>
            <div class="serve-item-info ub-f1">
                <div class="serve-item-hd">
                    <p class="serve-item-name">别克凯越</p>
                    <p class="serve-item-addr">双流县中和镇中和大道1号</p>
                </div>
                <div class="serve-item-bot">
                    <div class="fl color-main">
                        <i class="price-icon"></i>
                        <span class="font-size20 price">168</span>
                        <span class="serve-item-time">/ 日均</span>
                    </div>
                    <div class="fr">
                        <a href="javascript:;">
                            <i class="phone_icon"></i>
                        </a>
                    </div>
                </div>
            </div>
        </li>
        <li class="serve-item ub">
            <div class="serve-item-img">
                <img src="__PUBLIC__/home/img/car.png" alt="素叶联盟生活服务租车">
            </div>
            <div class="serve-item-info ub-f1">
                <div class="serve-item-hd">
                    <p class="serve-item-name">别克凯越</p>
                    <p class="serve-item-addr">双流县中和镇中和大道1号</p>
                </div>
                <div class="serve-item-bot">
                    <div class="fl color-main">
                        <i class="price-icon"></i>
                        <span class="font-size20 price">168</span>
                        <span class="serve-item-time">/ 日均</span>
                    </div>
                    <div class="fr">
                        <a href="javascript:;">
                            <i class="phone_icon"></i>
                        </a>
                    </div>
                </div>
            </div>
        </li>
        <li class="serve-item ub">
            <div class="serve-item-img">
                <img src="__PUBLIC__/home/img/car.png" alt="素叶联盟生活服务租车">
            </div>
            <div class="serve-item-info ub-f1">
                <div class="serve-item-hd">
                    <p class="serve-item-name">别克凯越</p>
                    <p class="serve-item-addr">双流县中和镇中和大道1号</p>
                </div>
                <div class="serve-item-bot">
                    <div class="fl color-main">
                        <i class="price-icon"></i>
                        <span class="font-size20 price">168</span>
                        <span class="serve-item-time">/ 日均</span>
                    </div>
                    <div class="fr">
                        <a href="javascript:;">
                            <i class="phone_icon"></i>
                        </a>
                    </div>
                </div>
            </div>
        </li>
        <li class="serve-item ub">
            <div class="serve-item-img">
                <img src="__PUBLIC__/home/img/car.png" alt="素叶联盟生活服务租车">
            </div>
            <div class="serve-item-info ub-f1">
                <div class="serve-item-hd">
                    <p class="serve-item-name">别克凯越</p>
                    <p class="serve-item-addr">双流县中和镇中和大道1号</p>
                </div>
                <div class="serve-item-bot">
                    <div class="fl color-main">
                        <i class="price-icon"></i>
                        <span class="font-size20 price">168</span>
                        <span class="serve-item-time">/ 日均</span>
                    </div>
                    <div class="fr">
                        <a href="javascript:;">
                            <i class="phone_icon"></i>
                        </a>
                    </div>
                </div>
            </div>
        </li>
        <div class="main" >
            <div class="loading">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </ul>
</section>

<script src="__PUBLIC__/home/js/jquery.min.js"></script>
<script src="__PUBLIC__/home/js/cookie.js"></script>
<script>
    $(function () {
        $('.nav-item-mask').click(function () {
            var sel_list= $(this).parent().find('.nav-item-list');
            var show_sel=$(this).parent().find('p.show-sel');
            sel_list.css('display','block');
            sel_list.find('label').click(function () {
                show_sel.html(  $(this).html());
                sel_list.css('display','none');
                doAjax();
            });
        });

        var _load=$('.main');
        var serve_list=$('.serve-list');
        function CreateNode(obj) {
            return '<li class="serve-item ub"   data-id='+obj.id+' data-title='+obj.name+' data-price='+obj.price+' data-img='+obj.imgSrc+' data-deposit='+ obj.deposit+' >'+ '<div class="serve-item-img">'+
                    '<img src="'+obj.imgSrc+'" alt="素叶联盟生活服务租车">'+
                    '</div>'+
                    '<div class="serve-item-info ub-f1">'+
                    '<div class="serve-item-hd">'+
                    '<p class="serve-item-name">'+obj.name+'</p>'+
                    '<p class="serve-item-addr">'+obj.addr+'</p>'+
                    '</div>'+
                    '<div class="serve-item-bot">'+
                    '<div class="fl color-main">'+
                    '<i class="price-icon"></i>'+
                    '<span class="font-size20 price">'+obj.price+'</span>'+
                    '<span class="serve-item-time">/ 日均</span>'+
                    '</div>'+
                    '<div class="fr">'+
                    '<a href="javascript:;">'+
                    '<i class="phone_icon"></i>'+
                    '</a>'+
                    '</div>'+
                    '</div>'+
                    '</div>'+
                    '</li>';
        }
        function doAjax() {
            var arr=[
                {'id':'1','name':'五菱宏光','addr':'双流县中和镇中和大道1号','price':'168','imgSrc':'img/car_red.png','deposit':"150"}
            ];
            var newCode=  CreateNode(arr[0]);
            $('.main').remove();
            serve_list.append(newCode);
            $('.serve-item').on('click',function () {
                var arrCar={
                    'id':$(this).attr('data-id'),
                    "title":$(this).attr('data-title'),
                    "price":$(this).attr('data-price'),
                    "imgSrc":$(this).attr('data-img'),
                    'deposit':$(this).attr('data-deposit')
                };
                setCookie('carChooseId',arrCar.id,1);
                setCookie('carChooseDeposit',arrCar.deposit,1);
                setCookie('carChooseTitle',arrCar.title,1);
                setCookie('carChoosePrice',arrCar.price,1);
                setCookie('carChooseImg',arrCar.imgSrc,1);
                if(getCookie('carChooseTitle')){
                     console.log(getCookie('carChooseImg'))
                     window.location.href='zuche_apply.html';
                }
            });
        }
        window.onscroll = function(){
            var t = document.documentElement.scrollTop || document.body.scrollTop;
            var sh=document.documentElement.clientHeight;
            var wh=document.body.offsetHeight;
            if(wh-sh<t){
                serve_list.append(_load);
            }
        };
    })
</script>
</body>
</html>